&__list {
  font-family: map-get($fonts, main);
  list-style-type: disc;
  margin-inline-start: 20px;

  li {
    margin: 20px 0;
    padding-left: 0.3em;
    color: map-get($colors, main);
  }

  p,
  b {
    color: map-get($colors, text, main);
  }
  @media (max-width: map-get($media, md, width)) {
    margin-top: 30px;
    font-size: 16px;

    b {
      font-size: 18px;
    }
  }

  @media (min-width: map-get($media, md, width)) {
    margin-top: 40px;
    font-size: 18px;

    b {
      font-size: 20px;
    }
  }
}
