&__lang {
  display: flex;
  align-items: center;
  font-family: map-get($fonts, main);
  cursor: pointer;

  img {
    width: 26px;
    height: 26px;
  }

  * {
    margin: 0 3px;
  }

  @media (max-width: map-get($media, lg, width)) {
    order: 2;
    margin: 0 20px;
    svg,
    span {
      display: none;
    }
  }
}
