&__logo {
  @media (max-width: map-get($media, lg, width)) {
    width: 91.5px;
    height: 18px;
  }
  @media (min-width: map-get($media, lg, width)) {
    width: 183px;
    height: 36px;
  }
  align-self: center;
}
