&__service {
  background-color: rgba(0, 185, 182, 0.1);
  border-radius: 24px;
  padding: 30px;
  display: grid;
  grid-row-gap: 30px;
  position: relative;
  height: fit-content;
  align-self: center;
  @media (max-width: map-get($media, lg, width)) {
    .button {
      width: 100%;
    }
  }
  @import "./_type/services__service_type_two.scss";
  @import "./_type/services__service_type_two.scss";
}
