.about {
  @media (max-width: map-get($media, md, width)) {
    margin-top: 80px;
  }

  @media (min-width: map-get($media, md, width)) {
    margin-top: 100px;
  }

  @media (min-width: map-get($media, xl, width)) {
    margin-top: 140px;
  }

  @import "./__card/about__card.scss";
  @import "./__nums/about__nums.scss";
  @import "./__num/about__num.scss";
  @import "./__video/about__video.scss";
  @import "./__wrapper-1/about__wrapper-1.scss";
  @import "./__wrapper-2/about__wrapper-2.scss";
  @import "./__card-content/about__card-content.scss";
}
