&__wrapper {
  position: relative;
  display: grid;

  @media (max-width: map-get($media, md, width)) {
    margin-top: 80px;
    grid-template-columns: 1fr;
  }

  @media (min-width: map-get($media, md, width)) {
    grid-template-columns: 1.2fr 2fr;
    margin-top: 100px;
  }

  @media (min-width: map-get($media, lg, width)) {
    grid-template-columns: 1fr 2fr;
  }

  @media (min-width: map-get($media, xl, width)) {
    margin-top: 140px;
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    height: 90%;
    width: 100%;

    background: map-get($colors, main);
    opacity: 0.1;
    @media (min-width: map-get($media, md, width)) {
      border-radius: 12px;
    }
  }
}
