&__num {
  transition: 0.35s;
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  display: block;
  text-align: center;
  line-height: 35px;
  font-weight: 700;
  font-size: 20px;
  color: map-get($colors, text, 1);
  background: rgba(0, 185, 182, 0.1);
  @import "./_selected/how-work__num_selected_true.scss";
}
