&__nums {
  display: flex;
  justify-content: space-around;
  font-family: map-get($fonts, main);
  grid-area: about__nums;

  @media (min-width: map-get($media, md, width)) {
    flex-direction: row;
    text-align: center;
  }

  @media (min-width: map-get($media, lg, width)) {
    flex-direction: column;
    text-align: start;
  }
}
