$fonts: (
  main: (
    "Inter",
    "sans-serif",
  ),
  1: "Roboto",
);

$colors: (
  page-bg: #f9fdff,
  main: #00b9b6,
  main-gradient: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%),
  1: rgba(0, 185, 182, 0.1),
  2: #fff,
  3: #333,
  4: #2e3a59,
  5: #ffa800,
  text: (
    main: #0e0e0f,
    1: #00b9b6,
    2: #fff,
    3: #333333,
    4: #afafaf,
  ),
);

$media: (
  sm: (
    width: 360px,
    container: 100%,
  ),
  md: (
    width: 768px,
    container: 688px,
  ),
  lg: (
    width: 1024px,
    container: 944px,
  ),
  xl: (
    width: 1200px,
    container: 1120px,
  ),
);
