.subtitle {
  color: map-get($colors, text, 1);
  font-weight: 400;
  font-size: 18px;
  font-family: map-get($fonts, main);
  line-height: 25px;

  @media (max-width: map-get($media, md, width)) {
    text-align: center;
  }
}
