&__store {
  border-radius: 12px;
  background-color: map-get($colors, 3);
  display: flex;
  cursor: pointer;

  img {
    margin: 8px 12px;
  }
}

.download-app__store:nth-child(2) {
  margin-left: 20px;
}
