&__content {
  height: auto;
  width: 60%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: map-get($media, md, width)) {
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 330px;
    text-align: center !important;
    justify-content: center;
    width: 100%;

    .button {
      align-self: center;
    }
  }
  @media (min-width: map-get($media, md, width)) {
    margin-bottom: 0;
  }
}
