.seo {
  @media (max-width: map-get($media, md, width)) {
    margin-top: 80px;
  }

  @media (min-width: map-get($media, md, width)) {
    margin-top: 100px;
  }

  @media (min-width: map-get($media, xl, width)) {
    margin-top: 160px;
  }
  @import "./__wrapper/seo__wrapper.scss";
  @import "./__col/seo__col.scss";
  @import "./__title/title.scss";
}
