&__popular {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffa800;
  border-radius: 0 24px 0 12px;
  color: map-get($colors, text, 2);
  font-family: map-get($fonts, main);
  font-weight: 500;
  line-height: 100%;

  @media (max-width: map-get($media, md, width)) {
    font-size: 12px;
    padding: 5px 16px;
  }

  @media (min-width: map-get($media, md, width)) {
    font-size: 16px;
    padding: 8px 16px 10px 16px;
  }
}
