&__desk {
  font-family: map-get($fonts, main);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 185%;
  color: map-get($colors, text, 3);
  max-width: 300px;

  @media (max-width: map-get($media, md, width)) {
    font-size: 14px;
    line-height: 25px;
  }

  @media (max-width: map-get($media, md, width)) {
    font-size: 16px;
    line-height: 27.5px;
  }

  @media (min-width: map-get($media, lg, width)) {
    font-size: 16px;
    line-height: 31px;
  }

  @media (min-width: map-get($media, xl, width)) {
    font-size: 16px;
    line-height: 28px;
  }
}
