&__wrapper {
  display: grid;

  @media (max-width: map-get($media, md, width)) {
    margin-top: 80px;
    grid-template-columns: 1fr;
    grid-template-areas: "steps__header" "steps__step-list" "steps__img";
  }

  @media (min-width: map-get($media, md, width)) {
    margin-top: 100px;
    grid-template-columns: 7fr 5fr;
    grid-template-areas: "steps__header steps__header" "steps__step-list steps__img";
  }

  @media (min-width: map-get($media, lg, width)) {
    grid-template-columns: 2fr 1fr;
  }

  @media (min-width: map-get($media, xl, width)) {
    margin-top: 140px;
  }
}
