footer.footer
  .container.footer__wrapper 
    .footer__col
      img(loading="lazy" src="@img/logo.png" alt="" srcset="").footer__logo
      .footer__links
        a(href="#") Home
        a(href="#") Blog
        a(href="#") Privacy Policy
        a(href="#") About us
        a(href="#") Contact
        a(href="#") Terms and Conditions
    .footer__col
      .footer__social
        div
          a(href="#") 
            img(loading="lazy" src="@img/blocks/footer/__social/facebook.png" alt="" srcset="")
        div
          a(href="#")
            img(loading="lazy" src="@img/blocks/footer/__social/instagram.png" alt="" srcset="")
        div
          a(href="#")
            img(loading="lazy" src="@img/blocks/footer/__social/linkedin.png" alt="" srcset="")
        div
          a(href="#")
            img(loading="lazy" src="@img/blocks/footer/__social/twitter.png" alt="" srcset="")
      ul.fa-ul.footer__list 
        li <span class="fa-li"><i class="fa-solid fa-envelope"></i></span> info@speak.help
        li <span class="fa-li"><i class="fa-solid fa-location-dot"></i></span> 33 W 60th Street, 8th FI New York, NY 10023
