.blur-2 {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    background: map-get($colors, main);
    filter: blur(350px);
    width: 300px;
    height: 300px;
    border-radius: 150px;
    top: calc(50% - 150px);
    right: 0px;
  }
}
