&__card {
  background: map-get($colors, 2);
  border-radius: 12px;

  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;

  @media (max-width: map-get($media, lg, width)) {
    padding: 20px 20px;
  }

  @media (min-width: map-get($media, lg, width)) {
    padding: 20px 30px;
  }
}
