&__img {
  margin: auto;
  @media (max-width: map-get($media, lg, width)) {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: map-get($media, lg, width)) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  img {
    filter: drop-shadow(0px 24px 18px rgba(17, 24, 39, 0.25)) !important;

    @media (max-width: map-get($media, md, width)) {
      width: 160px;
    }

    @media (min-width: map-get($media, md, width)) {
      width: 176px;
    }

    @media (min-width: map-get($media, lg, width)) {
      width: 210px;
    }

    @media (min-width: map-get($media, xl, width)) {
      width: 270px;
    }
  }
}
