&__main-title {
  font-family: map-get($fonts, main);
  font-style: normal;
  font-weight: 700;
  color: map-get($colors, text, main);
  font-size: 28px;
  margin-bottom: 30px;

  @media (min-width: map-get($media, md, width)) {
    font-size: 32px;
  }

  @media (min-width: map-get($media, lg, width)) {
    font-size: 48px;
    margin-bottom: 50px;
  }
}
