&__price {
  color: map-get($colors, text, 3);
  font-family: map-get($fonts, main);
  font-weight: 700;
  line-height: 100%;

  span {
    font-weight: 400;
    line-height: 140%;
  }

  @media (max-width: map-get($media, lg, width)) {
    font-size: 38px;
    span {
      font-size: 18px;
    }
  }

  @media (min-width: map-get($media, lg, width)) {
    font-size: 56px;
    span {
      font-size: 24px;
    }
  }
  @import "./_type/services__price_type.scss";
}
