&__wrapper {
  display: grid;

  @media (max-width: map-get($media, md, width)) {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    margin-top: 80px;
  }

  @media (min-width: map-get($media, md, width)) {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    margin-top: 100px;
  }

  @media (max-width: map-get($media, lg, width)) {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  @media (min-width: map-get($media, lg, width)) {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding-top: 74px !important;
    padding-bottom: 74px !important;
  }

  @media (min-width: map-get($media, xl, width)) {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    margin-top: 156px;
  }
}
