&__card-content {
  span {
    color: map-get($colors, text, main);
    font-weight: 700;
    line-height: 120%;
  }

  p {
    color: map-get($colors, text, 3);
    line-height: 140%;
  }

  @media (max-width: map-get($media, lg, width)) {
    span {
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  }

  @media (min-width: map-get($media, lg, width)) {
    span {
      font-size: 20px;
    }

    p {
      font-size: 18px;
    }
  }
}
