&__img {
  margin: 0 auto;
  z-index: 999;

  @media (max-width: map-get($media, md, width)) {
    margin-bottom: 30px;
    img {
      width: 160px;
    }
  }

  @media (min-width: map-get($media, md, width)) {
    margin-bottom: 50px;
    img {
      width: 175px;
    }
  }

  @media (min-width: map-get($media, md, width)) {
    img {
      width: 210px;
    }
  }

  @media (min-width: map-get($media, xl, width)) {
    img {
      width: 270px;
    }
  }
}
