&__wrapper {
  height: 100%;
  display: flex;
  position: relative;

  &::after {
    z-index: -1;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    width: 278px;

    background-image: url("../images/blocks/banner/meditation.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;

    @media (max-width: map-get($media, md, width)) {
      top: auto;
      bottom: 0;
      width: calc(100% - 40px);
      height: 330px;
      background-size: 278px 218px;
    }

    @media (min-width: map-get($media, md, width)) {
      width: 350px;
      right: -3%;
      top: 1%;
    }

    @media (min-width: map-get($media, lg, width)) {
      top: 6%;
      right: -3%;
      width: 480px;
    }

    @media (min-width: map-get($media, xl, width)) {
      top: 6%;
      width: 595px;
      right: 0%;
    }
  }
}
