&__slide {
  color: map-get($colors, text, 3);
  font-family: map-get($fonts, main);
  background: map-get($colors, 2);
  border-radius: 24px;
  padding: 30px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-column-gap: 30px;
  transition: 0.5s;
  opacity: 0.5;

  @media (max-width: map-get($media, lg, width)) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "reviews__img reviews__header" "reviews__img reviews__header" "reviews__desk reviews__desk";
  }

  @media (min-width: map-get($media, lg, width)) {
    width: calc(100% - 20px);
    grid-template-columns: auto 1fr;
    grid-template-areas: "reviews__img reviews__header" "reviews__img reviews__desk";
  }

  @media (min-width: map-get($media, xl, width)) {
    width: 550px !important;
  }
}
