.speakers {
  @media (max-width: map-get($media, md, width)) {
    margin-top: 80px;
  }

  @media (min-width: map-get($media, md, width)) {
    margin-top: 85px;
  }

  @media (min-width: map-get($media, lg, width)) {
    margin-top: 100px;
  }

  @media (min-width: map-get($media, xl, width)) {
    margin-top: 140px;
  }

  @import "./__slide/speakers__slide.scss";
  @import "./__slider/speakers__slider.scss";
  @import "./__tags/speakers__tags.scss";
  @import "./__slider-pagination/speakers__slider-pagination.scss";
  @import "./__slide-speaker-name/speakers__slide-speaker-name.scss";
  @import "./__bottom/speakers__bottom.scss";
  @import "./__left/speakers__left.scss";
  @import "./__right/speakers__right.scss";
  @import "./__slide-wrapper/speakers__slide-wrapper.scss";
}
