&__desk {
  color: map-get($colors, text, 3);
  font-family: map-get($fonts, main);
  grid-area: reviews__desk;

  @media (max-width: map-get($media, lg, width)) {
    margin-top: 20px;
    font-style: 14px;
  }

  @media (min-width: map-get($media, lg, width)) {
    margin-top: 10px;
    font-family: 16px;
  }
}
