&__download {
  height: fit-content;
  grid-area: app-2__download;

  @media (min-width: map-get($media, md, width)) {
    margin-top: 20px;
  }

  .download-app__stores {
    @media (max-width: map-get($media, md, width)) {
      margin-top: 45px;
    }

    @media (min-width: map-get($media, md, width)) {
      margin-top: 40px;
    }

    @media (min-width: map-get($media, lg, width)) {
      margin-top: 50px;
    }

    @media (min-width: map-get($media, xl, width)) {
      margin-top: 70px;
    }
  }
}
