&_visible_true {
  @media (max-width: map-get($media, lg, width)) {
    display: flex;
    opacity: 1;
    animation: header_visible_true 0.5s forwards;
    @keyframes header_visible_true {
      0% {
        opacity: 0;
        z-index: -10;
      }
      100% {
        opacity: 1;
        z-index: 9999999;
      }
    }
  }
}
