&__name {
  font-family: map-get($fonts, main);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
  color: map-get($colors, text, 1);

  @media (max-width: map-get($media, md, width)) {
    font-size: 18px;
  }

  @media (min-width: map-get($media, md, width)) {
    font-size: 18px;
  }

  @media (min-width: map-get($media, lg, width)) {
    font-size: 20px;
  }

  @media (min-width: map-get($media, xl, width)) {
    font-size: 24px;
  }
}
