&__wrapper {
  display: grid;
  @media (max-width: map-get($media, md, width)) {
    margin-top: 80px;
    grid-template-columns: 1fr;
    grid-template-areas: "help__title" "help__list" "help__img";
  }

  @media (min-width: map-get($media, md, width)) {
    margin-top: 110px;
    grid-template-columns: 1fr auto;
    grid-template-areas: "help__title help__img" "help__list help__img";
  }

  @media (min-width: map-get($media, lg, width)) {
    grid-template-columns: 1fr auto;
    margin-top: 100px;
  }

  @media (min-width: map-get($media, xl, width)) {
    margin-top: 160px;
  }
}
