&__wrapper {
  display: grid;

  @media (max-width: map-get($media, md, width)) {
    grid-template-columns: 1fr;
    grid-template-areas: "app-2__img" "app-2__download";
    margin-top: 80px;
  }

  @media (min-width: map-get($media, md, width)) {
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "app-2__download app-2__img";
    margin-top: 100px;
  }

  @media (min-width: map-get($media, lg, width)) {
    grid-template-columns: 5fr 7fr;
  }

  @media (min-width: map-get($media, xl, width)) {
    margin-top: 160px;
  }
}
