header.header
  .header__wrapper.container
    img(src="@img/blocks/header/logo.png" alt="logo" srcset="").header__logo
    ul.header__navigation(v-bind:class="{'header__navigation_visible_true': header__navigation_visible, 'header__navigation_visible_false': !header__navigation_visible}")
      li #[a(href="http://") About us]
      li #[a(href="http://") Blog]
      li #[a(href="http://") Contact]
    .header__buttons
      .header__lang(@click="showLangList($event)")
        img(src="@img/blocks/header/__lang/us.svg" alt="" srcset="")
        span EN
        i.fa.fa-solid.fa-angle-down
      ul.header__lang-list(
        v-bind:class="{'header__lang-list_display_block': header__langList_display,'header__lang-list_display_none': !header__langList_display}"
        @click="stopPropagation($event)"
      )
        li
          a(href="#") 
            img(loading="lazy" src="@img/blocks/header/__lang/us.svg" alt="" srcset="")
            span RU 
        li
          a(href="#") 
            img(loading="lazy" src="@img/blocks/header/__lang/us.svg" alt="" srcset="")
            span FR 
        li
          a(href="#") 
            img(loading="lazy" src="@img/blocks/header/__lang/us.svg" alt="" srcset="")
            span UA
      a(href="#").button.header__button Войти
      a(href="#").button.button_size_small.header__touch-button Начать беседу
      .header__menu-burger(@click="showNavigations")
        .header__menu-burger-line
        .header__menu-burger-line.header__menu-burger-line_color_green
        .header__menu-burger-line