.title-h2 {
  font-family: map-get($fonts, main);
  font-weight: 700;
  line-height: 120%;
  color: map-get($colors, text, main);

  @media (max-width: map-get($media, md, width)) {
    font-size: 24px;
    text-align: center;
  }

  @media (min-width: map-get($media, md, width)) {
    font-size: 28px;
  }

  @media (min-width: map-get($media, md, width)) {
    font-size: 32px;
  }

  @media (min-width: map-get($media, lg, width)) {
    font-size: 36px;
  }
  @import "./_align/title-h2_align_center.scss";
}
