&__touch-button {
  display: none;
  margin-left: 17px;
  order: 1;
  @media (max-width: map-get($media, md, width)) {
    padding: 0 15px !important;
    margin: 0;
  }
  @media (max-width: map-get($media, lg, width)) {
    display: block;
  }
}
