&__content {
  @media (min-width: map-get($media, md, width)) {
    margin-top: 100px;
    padding-right: 30px;
  }

  @media (min-width: map-get($media, lg, width)) {
    margin-top: 100px;
  }

  @media (min-width: map-get($media, xl, width)) {
    margin-top: 120px;
  }
}
